.registerTable tbody tr td {
    color: #00bc8c;
}

body{
    font-family: 'Roboto', sans-serif;
}

thead{
    color: white;
}
#backButton{
    margin-left: 17px !important;
    margin-top: -15px !important;
}

.studentTable thead th {
    color: black;
}