<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="template.xhtml">
    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="id" value="#{courseMB.course.id}"/>
            <f:event type="preRenderView" listener="#{courseMB.findCourse}"/>
            <f:event type="preRenderView" listener="#{courseMB.loadCourses}"/>
        </f:metadata>
    </ui:define>
    <ui:define name="content">

        <div class="col-lg-6">
            <div class="well bs-component"
                 style="background-color: #303030; color: white; border: 1px solid transparent">
                <h:form class="form-horizontal">
                    <fieldset>
                        <legend style="color: white">Edit Course</legend>

                        <div class="form-group">
                            <label for="cName" class="col-lg-2 control-label">Course name</label>

                            <div class="col-lg-10">
                                <h:inputText class="form-control" id="cName" value="#{courseMB.course.courseName}"/>
                                <h:message for="cName" id="cNameError" style="color: #980000"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="teacher" class="col-lg-2 control-label">Teacher</label>

                            <div class="col-lg-10">
                                <h:inputText class="form-control" id="teacher" value="#{courseMB.course.teacher}"/>
                                <h:message for="teacher" id="lNameError" style="color: #980000"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="maxStudents" class="col-lg-2 control-label">Max Students</label>

                            <div class="col-lg-10">
                                <h:selectOneMenu value="#{courseMB.course.maxStudents}" class="form-control"
                                                 id="maxStudents">
                                    <f:selectItem itemLabel="20" itemValue="20"/>
                                    <f:selectItem itemLabel="25" itemValue="25"/>
                                    <f:selectItem itemLabel="30" itemValue="30"/>
                                    <f:selectItem itemLabel="35" itemValue="35"/>
                                    <f:selectItem itemLabel="40" itemValue="40"/>
                                </h:selectOneMenu>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-lg-10 col-lg-offset-2">
                                <h:commandButton value="Edit" action="#{courseMB.editCourse}"
                                                 styleClass="btn btn-success"></h:commandButton>
                            </div>
                        </div>
                    </fieldset>
                </h:form>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="well bs-component"
                 style="background-color: #303030; color: white; border: 1px solid transparent">


                <h1>Courses</h1>
                <h:form>
                    <h:panelGrid rendered="#{empty courseMB.courses}">
                        No courses
                    </h:panelGrid>
                    <h:dataTable rendered="#{not empty courseMB.courses}"
                                 styleClass="table table table-bordered registerTable" var="c"
                                 value="#{courseMB.courses}">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{c.id}"/>

                        </h:column>
                        <h:column>
                            <f:facet name="header">Course name</f:facet>
                            <h:outputText value="#{c.courseName}"/>

                        </h:column>
                        <h:column>
                            <f:facet name="header">Teacher</f:facet>
                            <h:outputText value="#{c.teacher}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Max students</f:facet>
                            <h:outputText value="#{c.maxStudents}"/>

                        </h:column>

                    </h:dataTable>
                </h:form>
            </div>
        </div>

    </ui:define>
</ui:composition>
</html>
