<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="template.xhtml">
    <ui:define name="content">
        <div class="col-lg-6">
            <div class="well bs-component" style="background-color: #303030; border: 1px solid transparent">
                <div class="jumbotron" style="background-color: #303030; color: white">
                    <h1>Student</h1>

                    <div class="btn-group btn-group-justified">
                        <a href="registerStudent.xhtml" class="btn btn-success">Add</a>
                        <a href="viewStudent.xhtml" class="btn btn-primary">View/Delete/Edit</a>
                    </div>
                </div>
                <div class="jumbotron" style="background-color: #303030; color: white">
                    <h1>Course</h1>

                    <div class="btn-group btn-group-justified">
                        <a href="registerCourses.xhtml" class="btn btn-success">Add</a>
                        <a href="viewCourse.xhtml" class="btn btn-primary">View/Delete/Edit</a>

                    </div>
                </div>
                <div class="jumbotron" style="background-color: #303030; color: white">
                <h1>Course</h1>

                <div class="btn-group btn-group-justified">
                    <a href="courseStudent.xhtml" class="btn btn-success">Add Student To Course</a>

                </div>
            </div>

                <div class="jumbotron" style="background-color: #303030; color: white">
                    <h1>Attendance</h1>

                    <div class="btn-group btn-group-justified">
                        <a href="attendance.xhtml" class="btn btn-success">Manage Attendance</a>

                    </div>
                </div>

            </div>
        </div>
    </ui:define>
</ui:composition>
</html>
