<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">
<ui:define name="metadata">
    <f:metadata>
        <f:viewParam name="id" value="#{studentMB.student.id}"/>
        <f:event type="preRenderView" listener="#{studentMB.findStudent}"/>
        <f:event type="preRenderView" listener="#{studentMB.clearStudent}"/>
        <f:event type="preRenderView" listener="#{studentMB.loadStudents}"/>
    </f:metadata>
</ui:define>

<ui:composition template="template.xhtml">
    <ui:define name="content">
        <div class="col-lg-6">
            <div class="well bs-component"
                 style="background-color: #303030; color: white; border: 1px solid transparent">
                <h:form class="form-horizontal">
                    <fieldset>
                        <legend style="color: white">Register Student</legend>

                        <div class="form-group">
                            <label for="fName" class="col-lg-2 control-label">First Name</label>

                            <div class="col-lg-10">
                                <h:inputText class="form-control" id="fName" value="#{studentMB.student.firstName}"/>
                                <h:message for="fName" id="fNameError" style="color: #980000"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lName" class="col-lg-2 control-label">Last Name</label>

                            <div class="col-lg-10">
                                <h:inputText class="form-control" id="lName" value="#{studentMB.student.lastName}"/>
                                <h:message for="lName" id="lNameError" style="color: #980000"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="street" class="col-lg-2 control-label">Street</label>

                            <div class="col-lg-10">
                                <h:inputText class="form-control" id="street" value="#{studentMB.student.street}"/>
                                <h:message for="street" id="streetError" style="color: #980000"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city" class="col-lg-2 control-label">City</label>

                            <div class="col-lg-10">
                                <h:inputText class="form-control" id="city" value="#{studentMB.student.city}"/>
                                <h:message for="city" id="cityError" style="color: #980000"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="zip" class="col-lg-2 control-label">Zip</label>

                            <div class="col-lg-10">
                                <h:inputText class="form-control" id="zip" value="#{studentMB.student.zip}"/>
                                <h:message for="zip" id="zipError" style="color: #980000"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber" class="col-lg-2 control-label">Phone Number</label>

                            <div class="col-lg-10">
                                <h:inputText class="form-control" id="phoneNumber"
                                             value="#{studentMB.student.phoneNumber}"/>
                                <h:message for="phoneNumber" id="numberError" style="color: #980000"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-lg-2 control-label">Email</label>

                            <div class="col-lg-10">
                                <h:inputText class="form-control" id="email" value="#{studentMB.student.eMail}"/>
                                <h:message for="email" id="emailError" style="color: #980000"/>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-lg-10 col-lg-offset-2">
                                <h:commandButton value="Add" action="#{studentMB.addStudent}"
                                                 styleClass="btn btn-success"></h:commandButton>
                            </div>
                        </div>

                    </fieldset>
                </h:form>

                <h1>Students</h1>
                <h:form>
                    <h:panelGrid rendered="#{empty studentMB.students}">
                        No Students
                    </h:panelGrid>
                    <h:dataTable rendered="#{not empty studentMB.students}" styleClass="table table table-bordered registerTable" var="s"
                                 value="#{studentMB.students}">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{s.id}"/>

                        </h:column>
                        <h:column>
                            <f:facet name="header">First Name</f:facet>
                            <h:outputText value="#{s.firstName}"/>

                        </h:column>
                        <h:column>
                            <f:facet name="header">Last Name</f:facet>
                            <h:outputText value="#{s.lastName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Street</f:facet>
                            <h:outputText value="#{s.street}"/>

                        </h:column>
                        <h:column>
                            <f:facet name="header">City</f:facet>
                            <h:outputText value="#{s.city}"/>

                        </h:column>
                        <h:column>
                            <f:facet name="header">Zip</f:facet>
                            <h:outputText value="#{s.zip}"/>

                        </h:column>
                        <h:column>
                            <f:facet name="header">Phone Number</f:facet>
                            <h:outputText value="#{s.phoneNumber}"/>

                        </h:column>
                        <h:column>
                            <f:facet name="header">Email</f:facet>
                            <h:outputText value="#{s.eMail}"/>

                        </h:column>
                    </h:dataTable>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>

</html>
